@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body {
    background-color: #1a1a1a;
    color: #333;
    font-family: 'Public Sans', sans-serif; /* Dein Wunsch-Font! */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container { text-align: center; border: 4px dotted #333; padding: 40px; border-radius: 15px; }

h1 { color: #333; }
